.group-icon,
.create-group-icon,
.group-invites-icon {
	display: flex;
	align-items: center;
	justify-content: center;
	border-radius: 10px;
	color: var(--main-white);
	font-weight: bold;
	font-size: 1.5rem;
	flex-shrink: 0;
	cursor: pointer;
	transition: all 0.1s ease-in-out;
	position: relative;
	border: 2px solid transparent;
}

.group-icon.active {
	border-color: var(--main-green);
	box-shadow: 0 0 12px rgba(13, 108, 34, 0.5);
}

.create-group-icon, .group-invites-icon {
	background-color: var(--main-gray);
	border: none;
	height: 3.5rem;
	width: 3.5rem;
	position: relative;
}

.create-group-icon .plus-icon, .group-invites-icon .envelope-icon {
	width: 2rem;
}

.invites-count {
	position: absolute;
	top: -5px;
	right: -5px;
	background-color: var(--main-green);
	color: var(--main-white);
	border-radius: 50%;
	width: 1.3rem;
	height: 1.3rem;
	/* padding: 0.2rem 0.5rem; */
	font-size: 0.75rem;
	font-weight: bold;
	display: flex;
	align-items: center;
	justify-content: center;
}

.groups-navbar {
	display: flex;
	flex-direction: column;
	gap: 0.5rem;
	padding: 0.5rem;
	height: 100%;
	overflow-y: auto;
	overflow-x: visible;
	scrollbar-width: none;
}

/* Hide scrollbar for Chrome, Safari and Opera */
.groups-navbar::-webkit-scrollbar {
	display: none;
}
