:root {
  --dark-gray: #1B1B1B;
  --main-gray: #303030;
  --main-green: #0D6C22;
  --main-white: #f0efef;

  --default-shadow: 4px 4px 3px 0px rgba(0,0,0,0.75);
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  font-family: var(--font-arimo), sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

.error-message {
	margin-top: 2px;
	height: 0.8rem;
	color: #ff6b6b;
	font-size: 0.8rem;
}
