.setup-wrapper {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	min-height: 100vh;
}

.setup-main-container{
	background-color: var(--main-gray);
	padding: 1rem;
	border-radius: 0.5rem;
	box-shadow: var(--default-shadow);
	width: 100%;
	max-width: 400px;
}

.setup-top-container{
	display: flex;
	flex-direction: column;
	gap: 0.01rem;
	margin-bottom: 1rem;

	h1{
		color: var(--main-white);
		font-size: 1.5rem;
	}
	
	p{
		color: var(--main-white);
		font-size: 0.9rem;
	}
}