.dashboard-wrapper{
	display: flex;
	/* justify-content: center; */
	/* align-items: center; */
	width: 100%;
	height: 100vh;
}

.dashboard-main{
	display: flex;
	width: 100%;
	height: 100%;
	background-color: var(--main-gray);
}

.dashboard-left{
	width: 4.5rem;
	height: 100%;
	background-color: var(--dark-gray);
}