.login-form-group {
	display: flex;
	flex-direction: column;
	margin-bottom: 1rem;
}

.login-form-group input {
	padding: 10px;
	background-color: var(--dark-gray);
	color: var(--main-white);
	border: none;
	border-radius: 7px;
	padding: 0.8rem;
	box-shadow: var(--default-shadow);
}

.login-form-group label {
	color: var(--main-white);
	font-size: 1rem;
	margin-bottom: 0.2rem;
}

.login-form-group input:focus {
	border-color: var(--main-green);
	outline: none;
}

.login-form-btns {
	display: flex;
	gap: 1rem;
}

.login-form-btn {
	color: var(--main-white);
	flex: 1;
	border-radius: 0.4rem;
	height: 2rem;
	border: none;
	font-size: 0.9rem;
	display: flex;
	align-items: center;
	justify-content: center;
	box-shadow: var(--default-shadow);
	white-space: nowrap;
	transition: all 0.1s ease-in-out;
	cursor: pointer;

	&:hover{
		scale: 1.04;
	}
}

.login-submit-btn {
	background-color: var(--main-green);
	
	&:hover{
		background-color: #0B5A1B;
	}
}

.login-go-back-btn {
	background-color: var(--dark-gray);

	&:hover{
		background-color: #121212;
	}
}