.setup-form-group {
	display: flex;
	flex-direction: column;
	margin-bottom: 01rem;
}

.setup-form-group input {
	padding: 10px;
	background-color: var(--dark-gray);
	color: var(--main-white);
	border: none;
	border-radius: 7px;
	padding: 0.8rem;
	box-shadow: var(--default-shadow);
}

.setup-form-group label {
	color: var(--main-white);
	font-size: 1rem;
	margin-bottom: 0.2rem;
}

.setup-form-group input:focus {
	border-color: var(--main-green);
	outline: none;
}

.setup-confirm-btn {
	background-color: var(--main-green);
	color: var(--main-white);
	border-radius: 0.4rem;
	height: 2rem;
	border: none;
	font-size: 0.9rem;
	display: flex;
	align-items: center;
	justify-content: center;
	box-shadow: var(--default-shadow);
	white-space: nowrap;
	transition: all 0.1s ease-in-out;
	cursor: pointer;
	width: 50%;

	&:hover{
		scale: 1.04;
	}
}